<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img>Buy My Truck
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header mr-4">2008 GMC Sierra 1500</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <img class="img-responsive pl-5" src="http://carphotos.cardomain.com/images/0004/51/28/4061582.JPG" width="450" height="300" alt="not Josh's speakers">
    </div>
    <div class="col-md-4">
      <h2>Features</h2>
      <ul>
        <li>4X4 All-terrain package</li>
        <li>5.3L V8 Engine</li>
        <li>Extended cab</li>
        <li>FlexFuel</li>
        <li>195 horsepower@4600rpm</li>
        <li>260 torque@2800rpm</li>
        <li>4-Speed Automatic Transmission</li>
      </ul>
      <form action="/charge" method="post">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_oV2txPCWWLjwWcK6vymCmtmG"
          data-amount="1586044" data-name="Speakers" data-description="These are Josh's nice speakers" data-locale="auto">
        </script>
      </form>
    </div>
  </div>
</body>

</html>